<div class="sidebar">
  <div class="container sidebar-sticky">
    <img src="/public/assets/sidebar-logo.png" />
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead mobile-hide">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <div class="sidebar-social-items">
      <a class="sidebar-social-item" href="{{ site.socials.etsy.url }}">
        <img src="/public/assets/etsy.svg" />
      </a>
      <a class="sidebar-social-item" href="{{ site.github.repo }}">
        <img src="/public/assets/github.svg" />
      </a>
      <a class="sidebar-social-item" href="{{ site.socials.instagram.url }}">
        <img src="/public/assets/instagram.svg" />
      </a>
      <a class="sidebar-social-item" href="{{ site.socials.twitter.url }}">
        <img src="/public/assets/twitter.svg" />
      </a>
    </div>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
